<% # render the flash message %>

<div>
  <div class="Polaris-Banner__Heading">
    <p class="Polaris-Heading"><%= title %></p>
    <div class="Polaris-Banner__Content">
      <p><%= message %></p>
    </div>
  </div>
</div>
