<%# users table %>

<div class="Polaris-Page__Content">
  <div class="Polaris-Card">
    <div class="">
      <div class="users-table Polaris-DataTable">
        <div class="Polaris-DataTable__ScrollContainer">
          <table class="Polaris-DataTable__Table">
            <thead>
              <tr>
                <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header Polaris-DataTable__Cell--firstColumn" scope="col"><%= t('.user_name') %></th>
                <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header"><%= t('.last_updated') %></th>
                <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header" scope="col">&nbsp;</th>
                <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header" scope="col">&nbsp;</th>
              </tr>
            </thead>
            <tbody>

            <%= render @users %>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>
