<%# user form %>

<div class="custom-form Polaris-Layout__Section">
  <div class="Polaris-Card">
    <div class="Polaris-Card__Section">
      <%= render 'form', user: @user %>
    </div>
  </div>
</div>
