<%# polaris button actual markup %>

<button type="button" class="Polaris-Button<%= button_properties[:use_style_class] %>" disabled="disabled">
  <span class="Polaris-Button__Content">
    <span class="Polaris-Button__Text">
      <%= button_properties[:text] %>
    </span>
  </span>
</button>
