<%# product form %>

<div class="custom-form Polaris-Layout__Section">
  <div class="Polaris-Card">
    <div class="Polaris-Card__Section">
      <%= render 'form', order: @order %>
    </div>
  </div>
</div>
<%= javascript_pack_tag("pay_type") %>
