<table>
  <tr>
    <td class="top">
      <p class="logo">An Iosta <span>Leabhar</span></p>
    </td>
  </tr>
  <tr>
    <td class="middle">
      <%= yield %>
    </td>
  </tr>
  <tr>
    <td class="bottom">
      <p>An Iosta Leabhar | info@thebookdepot.com | +353 (0)71 123 4567</p>
    </td>
  </tr>
</table>
