<%= render "email_structure_ga" do %>
  <h1><%= @subject %></h1>
  <p>A chara <%= @order.name %></p>
  <p>Tá d'ordú ar an mbealach agus ba chóir duit a bheith in éineacht leat amárach!</p>
  <p>Go raibh maith agat as siopadóireacht a dhéanamh linn agus tá súil againn go bhfeicfidh tú arís thú :)</p>
<% end %>
