/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// variables and mixins

// colors
$color-white: #fff;
$color-grey-sky: #dfe3e8;
$color-grey-dark: #c4cdd5;
$color-teal: #47c1bf;
$color-indigo: #5c6ac4;
$color-purple-dark: #230051;
$color-red-dark: #bf0711;
$color-yellow: #eec200;
$color-yellow-light: #ffea8a;

$custom-color-grey-lighter: #fafafa;
$custom-color-grey-light: #ddd;
$custom-color-grey-medium: #666;

// variables

$form-padding: 0.5em;

// general rules

body {
  a {
    &:visited,
    &:hover {
      color: inherit;
      background-color: inherit;
    }
  }
}

// top bar

.Polaris-TopBar__LogoLink {
  text-decoration: none;
  width: 200px;

  .Polaris-TopBar__Logo {
    font-size: 1.4em;
    color: $color-white;
    font-weight: bold;
    font-family: helvetica;

    span {
      color: $color-teal;
    }
  }
}

#language-switch {
  font-size: 1em;
  margin-right: 1em;
  #language-switch__flags {
    text-align: right;
    padding-top: 5px;
    a {
      padding: 5px 2px;
    }
  }
}

// navigation

.Polaris-Navigation__Text {
  text-decoration: none;
}

// main content area

#main {
  min-height: 75vh;
}

// product cards

.product-card {
  * {
    text-align: center;
  }

  .product-card__description {
    font-style: italic;
  }
}

// product detail

.product-detail {
  .Polaris-CalloutCard__Image {
    width: 20rem;
    padding-left: 10rem;
    margin-right: 10rem;
  }
}

// buttons

.Polaris-ButtonGroup__Item {
  a {
    padding-left: 0.4em;
    padding-right: 0.4em;
    text-decoration: none;
  }
}

// forms

.custom-form {
  label {
    margin-bottom: $form-padding;
  }

  .field {
    margin-bottom: $form-padding;
  }

  select,
  input,
  textarea {
    font-size: 1em;
    padding: $form-padding;
    background: $custom-color-grey-lighter;
    border: 1px solid $custom-color-grey-light;
    border-radius: 3px;
  }

  input[type="submit"] {
    background: $color-indigo;
    color: $color-white;
    border: none;
    margin-top: $form-padding;
    padding: 1.5 * $form-padding;
  }

  .field_with_errors {
    background-color: $color-red-dark;
    padding: $form-padding;

    label {
      color: $color-white;
    }
  }

  #error_explanation {
    border-color: $color-red-dark;

    h2 {
      background-color: $color-red-dark;
    }
  }
}

// cart table

.cart-table {
  thead th {
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: $color-teal;
  }
}

// cart quick view

.cart-quick-view {
  h2 {
    font-size: 1.1em;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    background-color: $color-teal;
    color: $color-white;
  }

  .Polaris-Navigation__Item {
    font-size: 0.9em;
  }

  p {
    display: grid;
    grid-template-columns: 2em auto 4.5em;
    grid-row-gap: 5px;
    color: $custom-color-grey-medium;

    span {
      line-height: 3rem;
      text-align: left;
    }
    span:nth-child(3) {
      text-align: right;
    }
  }

  .cart-quick-view__total p {
    border-top: 1px solid $color-grey-dark;
    font-weight: bold;
  }

  @keyframes line-item-highlight {
    0% {
      background: $color-yellow-light;
    }
    100% {
      background: inherit;
    }
  }

  .line-item-highlight {
    animation: line-item-highlight 3s;
  }
}

// flash banners

// icons

.icon-delete path {
  fill: $color-red-dark;
}
.icon-edit path {
  fill: $color-yellow;
}
