/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// variables and mixins

// colors
$color-white: #fff;
$color-teal: #47c1bf;
$color-indigo: #5c6ac4;
$color-red-dark: #bf0711;

$color-grey-lighter: #fafafa;
$color-grey-light: #ddd;

// variables

$form-padding: 0.5em;

// top bar

.Polaris-TopBar__LogoLink {
  text-decoration: none;
  width: 200px;

  &:hover {
    background-color: inherit;
  }

  .Polaris-TopBar__Logo {
    font-size: 1.4em;
    color: $color-white;
    font-weight: bold;
    font-family: helvetica;

    span {
      color: $color-teal;
    }
  }
}

// navigation

.Polaris-Navigation__Text {
  text-decoration: none;

  &:hover {
    color: inherit;
    background-color: inherit;
  }
}

// product cards

.product-card {
  * {
    text-align: center;
  }

  .product-card__description {
    font-style: italic;
  }
}

// product detail

.product-detail {
  .Polaris-CalloutCard__Image {
    width: 20rem;
    padding-left: 10rem;
    margin-right: 10rem;
  }
}

// buttons

.Polaris-ButtonGroup__Item {
  a {
    padding-left: 0.4em;
    padding-right: 0.4em;
    text-decoration: none;

    &:hover {
      background-color: inherit;
    }
  }
}

// forms

.custom-form {
  label {
    margin-bottom: $form-padding;
  }

  .field {
    margin-bottom: $form-padding;
  }

  input,
  textarea {
    font-size: 1em;
    padding: $form-padding;
    background: $color-grey-lighter;
    border: 1px solid $color-grey-light;
  }

  input[type="submit"] {
    background: $color-indigo;
    color: $color-white;
    border: none;
    margin-top: $form-padding;
  }

  .field_with_errors {
    background-color: $color-red-dark;
    padding: $form-padding;

    label {
      color: $color-white;
    }
  }

  #error_explanation {
    border-color: $color-red-dark;

    h2 {
      background-color: $color-red-dark;
    }
  }
}
