<%# product manage buttons %>

<div class="Polaris-ButtonGroup">
  <%= render "shared/button", text: t('.add_to_cart'), link: line_items_path(product_id: product), style_class: 'Polaris-Button--primary', method: :post, remote: true, locale: I18n.locale %>
</div>
