<% content_for :main_heading do %>
  My Catalogue
<% end %>

<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<%# layout %>
<div class="Polaris-Layout">
  <%= render partial: "shared/product", collection: @products %>
</div>
