<%# navigation %>

<nav class="Polaris-Navigation">
  <div class="Polaris-Navigation__PrimaryNavigation">
    
    <%# section %>
    <ul class="Polaris-Navigation__Section">
      <%= render "layouts/navigation_primary" %>
    </ul>
    <%# section %>

    <%# section %>    
    <ul class="cart-quick-view Polaris-Navigation__Section">
      <%= render "carts/quick_view" %>
    </ul>
    <%# section %>

  </div>
</nav>
