<%# top bar %>

<div class="Polaris-TopBar">

  <%# logo %>
  <div class="Polaris-TopBar__LogoContainer">
    <%= link_to store_index_path, class: "Polaris-TopBar__LogoLink" do %>
      <p class="Polaris-TopBar__Logo">The <span>Book</span> Depot</p>
    <% end %>
  </div>
  <%# logo %>

  <%# contents %>
  <div class="Polaris-TopBar__Contents">

    <%# search field %>
<%
=begin
%>

    not needed right now, maybe later

    <div class="Polaris-TopBar__SearchField">
      <div class="Polaris-TopBar-SearchField"><span class="Polaris-VisuallyHidden"><label for="PolarisSearchField1">Search</label></span><input id="PolarisSearchField1" class="Polaris-TopBar-SearchField__Input" placeholder="Search" type="search" autocapitalize="off" autocomplete="off" autocorrect="off" value=""><span class="Polaris-TopBar-SearchField__Icon"><span class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
              <path d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8m9.707 4.293l-4.82-4.82A5.968 5.968 0 0 0 14 8 6 6 0 0 0 2 8a6 6 0 0 0 6 6 5.968 5.968 0 0 0 3.473-1.113l4.82 4.82a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
            </svg></span></span>
        <div class="Polaris-TopBar-SearchField__Backdrop"></div>
      </div>
      <div class="Polaris-TopBar-Search">
        <div class="Polaris-TopBar-Search__Results">
          <div class="Polaris-Card">
            <div class="Polaris-ActionList">
              <div class="Polaris-ActionList__Section--withoutTitle">
                <ul class="Polaris-ActionList__Actions">
                  <li><button type="button" class="Polaris-ActionList__Item">
                      <div class="Polaris-ActionList__Content">Shopify help center</div>
                    </button></li>
                  <li><button type="button" class="Polaris-ActionList__Item">
                      <div class="Polaris-ActionList__Content">Community forums</div>
                    </button></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<%
=end
%>
    <%# search field %>

    <%# right menu %>
<%
=begin
%>

    not needed right now, maybe later

    <div>
      <div class="Polaris-TopBar-Menu__ActivatorWrapper"><button type="button" class="Polaris-TopBar-Menu__Activator" tabindex="0" aria-controls="Polarispopover1" aria-owns="Polarispopover1" aria-expanded="false">
          <div class="Polaris-MessageIndicator__MessageIndicatorWrapper"><span aria-label="Avatar with initials D" role="img" class="Polaris-Avatar Polaris-Avatar--sizeSmall Polaris-Avatar--styleThree"><span class="Polaris-Avatar__Initials"><svg class="Polaris-Avatar__Svg" viewBox="0 0 40 40"><text x="50%" y="50%" dy="0.35em" fill="currentColor" font-size="20" text-anchor="middle">D</text></svg></span></span></div><span class="Polaris-TopBar-UserMenu__Details">
            <p class="Polaris-TopBar-UserMenu__Name">Dharma</p>
            <p class="Polaris-TopBar-UserMenu__Detail">Jaded Pixel</p>
          </span>
        </button></div>
    </div>
    <%# right menu %>
<%
=end
%>
    
  </div>
  <%# contents %>

</div>